* {
    font-family: 'Roboto';
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}


/*First
-------- 
Section*/
.firstsection{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0;
    gap: 90px;
    padding: 10px;
}


/*Header*/
.header{
    display: flex;
    justify-content: space-around;
    padding: 8px;
}

.links{
    display: flex;
    font-size: 18px;
    gap: 20px;
    color: #e5e7eb;
    align-items: center;
    align-self: center;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    font-family: 'Quicksand';
}

/*Main Header*/
.mainheader{
    display: flex;
    justify-content: center;
    margin: 70px;
}

.firstsection img{
    width: 500px;
    height: auto;
    align-self: center;
}

.awesome{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.mainheader button{
    width: 100px;
    background-color: #3882f6;
    color: white;
    border: #3882f6 solid;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
}

.awesome .text{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.awesome .subtext{
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
    flex-wrap: wrap;
}


/*Second
-------- 
Section*/

.secondsection{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.showcase{
    align-self: center;
    display: flex;
}

.avenger{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    gap: 10px;
}

.secondsection .text{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    align-self: center;
    flex-wrap: wrap;
    margin: 15px;
}

.secondsection img{
    width: 150px;
    height: auto;
    border: #3882f6 solid;
    border-radius: 15px;
    padding: 2px;
}

.testicles{
    width: 150px;
}


/*Third
-------- 
Section*/
.thirdsection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.main{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    gap: 5px;
}

.by{
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}


/*Fourth
-------- 
Section*/
.fourthsection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: white;
}

.action{
    background-color: #3882f6;
    margin: 150px;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 900px;
}

.top{
    font-size: 24px;
}

.fourthsection .text{
    display: flex;
    flex-direction: column;
}

.fourthsection button{
    background-color: #3882f6;
    color: #e5e7eb;
    border: white solid;
    font-size: 20px;
}


/*Footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: large;
    color: white;
}